.todoTitle {
  cursor: pointer;
}

.addItem {
  &__input {
    margin-bottom: 10px;
  }
  &__header {
    margin-bottom: 20px;
  }
}

.modal.active {
  top: auto !important;
  left: auto !important;
  height: auto !important;
}
