.navbar {
  color: #fff;
  background-color: #004e72;
  margin-bottom: 20px;
  .navbar__brand {
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.8rem;
    color: inherit;
  }
  .navbar__brand:hover, .navbar__brand:focus {
    text-decoration: none;
    color: inherit;
  }
}




